.Header {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    padding: 0 1rem;
    /* background-color: #f8f8f8; */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    /* position: fixed;
    top: 0px; */
}

.logo img {
    max-height: 100px;
}

nav ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}

nav li {
    margin-left: 1rem;
}

nav a {
    color: #333;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s ease-in-out;
}

nav a:hover {
    color: #f44336;
}

.search {
    position: relative;
    display: flex;
    align-items: center;
}

.searchInput {
    padding: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 1rem;
    width: 400px;
    transition: width 0.3s ease-in-out;
    padding-right: 2rem; /* added padding for the icon */
}

.searchInput:focus {
    width: 600px;
}

.searchIcon {
    position: absolute;
    right: 0.5rem;
    fill: #999;
    height: 1.2rem;
    width: 1.2rem;
}
.cart {
    display: flex;
    align-items: center;
    cursor: pointer;
    border-radius: 1rem;
    background-color: #ff6900;
    transition: background-color 0.3s ease-in-out;
}

.cartCount {
    background-color: #f41d0e;
    color: #fff;
    border-radius: 50%;
    font-size: 0.8rem;
    padding: 0.2rem 0.4rem;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
}

.cart p {
    margin: 0.5rem;
}

.cart btn {
    text-decoration: none;
}
